{% extends "index.html" %}

{% include 'components/header.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/interview.css') }}">
{% endblock %}

{% block content %}
<div class="uk-container uk-margin-large-top question-section" id="question-section">
    <form id="question-form" action="/submit-answer" method="POST">
        <div class="question-header">
            <span class="uk-text-large uk-text-muted">Q.</span>
            <span id="timer" class="uk-align-right uk-text-primary">01:00</span>
        </div>
        <div id="question-text" class="uk-text-bold uk-text-large">
            <!-- 질문 텍스트 동적으로 삽입 -->
        </div>

        <div class="answer-section">
            <span class="uk-text-large uk-text-muted">A.</span>
            <textarea
                class="uk-textarea"
                id="answer-input"
                name="answer"
                rows="5"
                placeholder="답변을 입력해 주세요."
                style="text-align: left; direction: ltr; padding-left: 5px;">
            </textarea>
        </div>

        <input type="hidden" name="question_id" id="question-id" value="">
        <input type="hidden" name="question_number" id="question-number-hidden" value="">

        <div class="navigation">
            <span id="question-number" class="page-indicator">1/10</span>
            <button
                type="submit"
                class="uk-button uk-button-default">
                →
            </button>
        </div>
    </form>
</div>

<!-- 공개 여부 확인 모달 -->
<div id="confirmation-modal" class="uk-modal" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h3 class="uk-heading-line-omit"><span>공개 여부 확인</span></h3>
            <p>질문과 답변을 공개하여 다른 사용자에게 도움을 줄 수 있습니다.</p>
        </div>
        <div class="uk-modal-body question-list" id="question-list">
            <!-- 질문과 답변 목록이 동적으로 추가됩니다 -->
        </div>
        <div class="uk-modal-footer confirmation-buttons" style="display: flex; justify-content: flex-end;">
            <form action="/submit-public" method="POST">
                <button class="uk-button uk-button-default" id="cancel-button" type="button">공개 안함</button>
                <button class="uk-button uk-button-primary" id="confirm-button" type="submit">공개</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
