{% extends "index.html" %}

{% include 'components/header.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/text.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/loading-analyze.css') }}">
{% endblock %}

{% block scripts %}
     <script>
        task_id = "{{ task_id }}";
        interview_id = "{{ interview_id }}";
        setInterval(() => {
            fetch(`/interview/task/${ task_id }`, { method: "POSt" })
                .then(response => {
                    if (response.status === 200) {
                        {#window.location.href = `/interview/improvement/task/${ task_id }`;#}
                        window.location.href = `/interview/improvement/${ interview_id }`;
                    } else if (response.status === 202) {
                        console.log("Running...")
                    } else {
                        console.error("Error")
                    }
                });
        }, 1000);
    </script>
{% endblock %}

{% block content %}
  <div class="uk-flex uk-flex-center uk-flex-middle uk-height-viewport">
    <div class="container uk-text-center">
      <!-- 로봇 로딩 GIF 이미지 -->
      <div class="loading-robot">
        <img src="{{ url_for('static', filename='img/loading-robot.gif') }}" alt="Loading Robot" style="width: 300px; height: 300px;">
      </div>
      <!-- 로딩 텍스트 -->
      <p class="loading-text">AI가 면접 답변에 대해서 분석 중입니다<span id="dots"></span></p>
    </div>
  </div>
{% endblock %}


