{% if response.user.university
or response.user.universityStatus
or response.user.major
or response.user.grade
or response.user.phoneNumber
or response.workExperiences
or response.projectExperiences %}
{% set selectInfoCheck = true %}
{% endif %}



{% block Content %}
    {% include 'components/mypage.html' %}
    {{ response }}
    <div class = "container">
        {#필수 정보#}
        <div class = "information-box">
            <table class="uk-table user-information">
                <thead>
                    <tr>
                        <td class = "Bold-20">필수 정보</td>
                        <td class = "information-box-update"><a href = "/register/information/required" ><span class = "Regular-16-light">내용 수정하기></span></a></td>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td class = "Regular-16-Medium">이름</td>
                        <td class = "Medium-16-Medium">{{ response.user.username }}</td>
                    </tr>
                    <tr>
                        <td class = "Regular-16-Medium">나이</td>
                        <td class = "Medium-16-Medium">{{ response.user.age }}세</td>
                    </tr>
                    <tr>
                        <td class = "Regular-16-Medium">주소</td>
                        <td class = "Medium-16-Medium">{{ response.user.address }} {{ response.user.detailAddress }}</td>
                    </tr>
                    <tr>
                        <td class = "Regular-16-Medium">이메일 주소</td>
                        <td class = "Medium-16-Medium">{{ response.user.email }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        {#선택 정보#}
        <div class = "information-box">
            <table class="uk-table user-information">
                <thead>
                    <tr>
                        <td class = "Bold-20">선택 정보</td>
                        <td class = "information-box-update"><a href = "/register/information/selection" ><span class = "Regular-16-light">내용 수정하기></span></a></td>
                    </tr>
                </thead>
                <tbody>
                    {% if selectInfoCheck %}
                        {% if response.user.university and response.user.universityStatus %}
                        <tr>
                            <td class = "Regular-16-Medium">학력</td>
                            <td class = "Medium-16-Medium">{{ response.user.university }} {{ response.user.universityStatus }}</td>
                        </tr>
                        {% endif %}
                        {% if response.user.major %}
                        <tr>
                            <td class = "Regular-16-Medium">전공</td>
                            <td class = "Medium-16-Medium">{{ response.user.major }}</td>
                        </tr>
                        {% endif %}
                        {% if response.user.grade %}
                        <tr>
                            <td class = "Regular-16-Medium">학점</td>
                            <td class = "Medium-16-Medium">{{ response.user.grade }}/4.5</td>
                        </tr>
                        {% endif %}
                        {% if response.user.phoneNumber %}
                        <tr>
                            <td class = "Regular-16-Medium">전화번호</td>
                            <td class = "Medium-16-Medium">{{ response.user.phoneNumber }}</td>
                        </tr>
                        {% endif %}
                        {% if response.workExperiences %}
                            {% for workExperience in response.workExperiences %}
                                <tr>
                                    {% if loop.index0 == 0 %}
                                        <td class="Regular-16-Medium">경력</td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                    <td class="Medium-16-Medium">
                                        연차 : {{ workExperience.fromDate }} ~ {{ workExperience.toDate }} <p></p>
                                        회사 이름 : {{ workExperience.companyName }} <p></p>
                                        직책 : {{ workExperience.position }} <p></p>
                                        맡은 일 : {{ workExperience.responsibility }} <p></p>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        {% if response.projectExperiences %}
                            {% for projectExperience in response.projectExperiences %}
                                <tr>
                                    {% if loop.index0 == 0 %}
                                        <td class="Regular-16-Medium">프로젝트 경험</td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                    <td class="Medium-16-Medium">
                                        프로젝트 이름 : {{ projectExperience.projectName }}<p></p>
                                        개발 기간 : {{ projectExperience.fromDate }} ~ {{ projectExperience.toDate }} <p></p>
                                        {% for content in projectExperience.contents %}
                                            프로젝트 내용{{ loop.index }}: {{ content.content }} <p></p>
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    {% else %}
                        <tr>
                            <td><p class = "Bold-24-none-weight">입력하신 선택 정보가 없습니다.</p></td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}