{% extends "index.html" %}

{% block styles  %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/text.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/resume_write.css') }}" />
{% endblock %}

{% set jobs = {
        '직군1': ['직업1-1', '직업1-2', '직업1-3'],
        '직군2': ['직업2-1', '직업2-2'],
        '직군3': ['직업3-1', '직업3-2', '직업3-3', '직업3-4'],
        '직군4': ['직업4-1', '직업4-2'],
        '직군5': ['직업5-1', '직업5-2', '직업5-3']
    } %}

{% block scripts %}
    <script>const iconAiPath = "{{url_for('static', filename = 'img/icon_ai.svg')}}";</script>
    <script src="{{ url_for('static', filename='js/resume_write.js') }}"></script>
    <script>let sectionCount = 0;</script>
    <script>var jobList = {{ jobs | tojson }};</script>
{% endblock %}



{% set occupationList = ['직군1', '직군2', '직군3', '직군4', '직군5' ] %}
{% set resumes = [
    {
        "resumeId": 1,
        "title": "자기소개서 제목1",
        "createdTime": "2024-10-04 02:17:32"
    },
    {
        "resumeId": 2,
        "title": "자기소개서 제목2",
        "createdTime": "2024-10-04 02:17:32"
    },
    {
        "resumeId": 3,
        "title": "자기소개서 제목3",
        "createdTime": "2024-10-04 02:17:32"
    },
    {
        "resumeId": 4,
        "title": "자기소개서 제목4",
        "createdTime": "2024-10-04 02:17:32"
    }
]%}

{% set Total = resumes | length %}

{% set list = [
    {
        "title": "자기소개서 항목1",
        "content": "자기소개서 내용1"
    },
    {
        "title": "자기소개서 항목2",
        "content": "자기소개서 내용2"
    },
    {
        "title": "자기소개서 항목3",
        "content": "자기소개서 내용3"
    },
    {
        "title": "자기소개서 항목4",
        "content": "자기소개서 내용4"
    },
    ] %}

{% block content %}
    {% include 'components/header.html' %}

    <div class="container">
        <div class ="saved-resume-box">
             <ul uk-accordion>
                <li>
                    <a class="uk-accordion-title" href>임시저장 목록({{ Total }}/10)</a>
                    <div class="uk-accordion-content">
                        <table class="uk-table saved-resume-content">
                            <tbody>
                                <tr>
                                    <td class = "Medium-16">번호</td>
                                    <td class = "Medium-16">제목</td>
                                    <td class = "Medium-16">저장일시</td>
                                    <td class = "Medium-16">삭제</td>
                                </tr>
                                {% for resume in resumes %}
                                    <tr>
                                        <td class = "Medium-16">{{ resume.resumeId }}</td>
                                        <td class = "Medium-16"><a href = "#">{{ resume.title }}</a></td>
                                        <td class = "Medium-16">{{ resume.createdTime }}</td>
                                        <td><button type="button" class = "custom-button"><img src="{{ url_for('static', filename='img/remove.svg') }}"/></button></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </li>
            </ul>
        </div>

        <div class = "resume-write-box">
            <p class = "Medium-22">자기소개서 작성</p>
            <form class="uk-form-stacked" id="resume_write_form">
                {# 제목 #}
                <div class="uk-margin">
                    <label class="uk-form-label" for="resume-write-title">제목</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="resume-write-title" type="text" name="title" placeholder="제목을 입력해주세요.">
                    </div>
                </div>

                 {# 직군 #}
                <div class="uk-margin">
                    <label class="uk-form-label" for="resume-write-occupation">직군</label>
                    <div class="uk-form-controls">
                        <select class="uk-select" id="resume-write-occupation" name="occupation" onchange = "updateJobList()">
                            {% for occupationList in occupationList %}
                                <option value = "{{ occupationList }}">{{ occupationList }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                {# 직업 #}
                <div class="uk-margin">
                    <label class="uk-form-label" for="resume-write-job">직업</label>
                    <div class="uk-form-controls">
                        <select class="uk-select" id="resume-write-job" name = "jobName">
                            <option value="" disabled selected>직군을 선택해주세요.</option>
                        </select>
                    </div>
                </div>

                 {# 경력 #}
                <div class="uk-margin">
                    <label class="uk-form-label" for="resume-write-experience">경력 여부</label>
                    <div class="uk-form-controls">
                        <select class="uk-select" id="resume-write-experience" name = "level">
                            <option>신입</option>
                            <option>경력</option>
                        </select>
                    </div>
                </div>

                {# 장점 #}
                <div class="uk-margin">
                    <label class="uk-form-label" for="resume-write-merit">장점</label>
                    <div class="uk-form-controls">
                        <textarea class="uk-textarea custom-textarea" id="resume-write-merit" name="pros" placeholder="장점을 입력해주세요." style="resize: none; overflow-y: hidden;" oninput="adjustHeight(this)"></textarea>
                    </div>
                </div>

                {# 단점 #}
                <div class="uk-margin">
                    <label class="uk-form-label" for="resume-write-disadvantage">단점</label>
                    <div class="uk-form-controls">
                        <textarea class="uk-textarea custom-textarea" id="resume-write-disadvantage" name="cons" placeholder="단점을 입력해주세요." style="resize: none; overflow-y: hidden;" oninput="adjustHeight(this)"></textarea>
                    </div>
                </div>

                {# 주요 키워드 #}
                <div class="uk-margin">
                    <label class="uk-form-label" for="resume-write-keyword">주요 키워드</label>
                    <div class="keyword-input-box">
                        <div class = "badge-container">
                            <input class="keyword-input Regular-16" id="resume-write-keyword" type="text" placeholder="주요 키워드를 입력해주세요.">
                        </div>
                    </div>
                </div>


                {# 방향성 #}
                <div class="uk-margin">
                    <label class="uk-form-label" for="resume-write-directionality">방향성(선택 사항)</label>
                    <div class="uk-form-controls">
                        <textarea class="uk-textarea custom-textarea" id="resume-write-directionality" name = "directional" style="resize: none; overflow-y: hidden;" oninput="adjustHeight(this)"></textarea>
                    </div>
                </div>

                <div class = "resume-container" id = "resume-write-container-0">
                    {# 항목 #}
                    <div class="uk-margin">
                        <div class = "resume-write-header">
                            <label class="uk-form-label" for="resume-write-title-0">항목1</label>
                            <button type="button" class ="Regular-16-light custom-button" id="ai-resume-write-0" onclick="aiResumeWrite(0)"><img src="{{ url_for('static', filename='img/icon_ai.svg') }}"/>AI 작성하기</button>
                        </div>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="resume-write-title-0" type="text" placeholder="제목을 입력해주세요.">
                        </div>
                    </div>
                    {# 내용 #}
                    <div class="uk-margin">
                        <div class="uk-form-controls">
                            <textarea class="uk-textarea resume-content" id="resume-write-content-0" placeholder="내용을 입력해주세요."  style="resize: none; overflow-y: hidden;" oninput="adjustHeight(this)"></textarea>
                        </div>
                    </div>
                </div>

                <div class = "right-box">
                    <button type="button" class = "Regular-16-light custom-button add-section-btn" id = "add-section-btn" onclick="addSection()">+섹션 추가하기</button>
                </div>

                <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid public-check-box">
                    <label class="Regular-16 public-radio"><input class="uk-radio" type="radio" name="public-or-not">공개</label>
                    <label class = "Regular-16"><input class="uk-radio" type="radio" name="public-or-not" checked>비공개</label>
                </div>

                <div class = "resume-submit-box">
                    <button class = "tmp-save-btn Medium-18" type = "submit">임시저장</button>
                    <button class = "save-btn Medium-18" type="submit">저장</button>
                </div>
            </form>
        </div>
    </div>


{% endblock %}