{% extends "index.html" %}

{% block styles  %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/text.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/resume_list.css') }}" />
{% endblock %}

{% set page = request.args.get('page', 1) | default(1) | int %}
{% set pageRange = 5 %}
{% set totalPages = ( response.total + pageRange - 1) // pageRange %}
{% set startPage = ((page - 1) // pageRange) * pageRange + 1 %}
{% set endPage = startPage + pageRange - 1 if startPage + pageRange - 1 <= totalPages else totalPages %}


{% block scripts %}
    <script src="{{ url_for('static', filename='js/resume_list.js') }}"></script>
{% endblock %}

{% block content %}
    {% include 'components/header.html' %}
    <div class = "container">
        <p class = "Bold-30-none-weight" style = "margin-top: 45px">카테고리 선택</p>
{#         =========================== 검색 필터 부분 ================================ #}
        <ul class="uk-subnav uk-subnav-pill search-filter-wrapper" uk-switcher style = "margin-top: 20px !important">
            <li>
                <a href="#" class = "Regular-16-light search-box">
                    <span id = "occupation">직군 선택</span>
                    <img src="{{ url_for('static', filename='img/down_arrow_light.svg') }}" />
                </a>
            </li>
            <li>
                <a href="#" class = "Regular-16-light search-box">
                    <span id = "job">직업 선택</span>
                    <img src="{{ url_for('static', filename='img/down_arrow_light.svg') }}" />
                </a>
            </li>
            <li>
                <a href="#" class = "Regular-16-light search-box">
                    {% if request.args.get('level') %}
                        <span id = "level">{{ request.args.get('level') }}</span>
                    {% else %}
                        <span id = "level">경력 선택</span>
                    {% endif %}
                    <img src="{{ url_for('static', filename='img/down_arrow_light.svg') }}" />
                </a>
            </li>
        </ul>
{#         =========================== 검색 필터 부분 끝 ================================ #}

{#         ====================== 필터에 해당하는 내용 부분 ================================ #}
        <div class="uk-switcher uk-margin">
{#             직군 선택 필터#}
            <div class = "search-content" id = "occupation-list-box">
                <table class="uk-table">
                    <tbody>
                        {% if response.occupations %}
                            {% for i in range(0, response.occupations|length, 5) %}
                                <tr>
                                    {% for occupation in response.occupations[i:i + 5] %}
                                        {% if request.args.get('occupation_id') | int == occupation.occupationId %}
                                            <td class="list-array">
                                                <button type="button" class="none-style-btn Regular-16-light" style = "color : #2B7FFF !important;"
                                                        id="select-occupation"
                                                        value="{{ occupation.occupationId }}"
                                                        onclick="showJobList(this)">
                                                    {{ occupation.occupationName }}
                                                </button>
                                            </td>
                                        {% else %}
                                        <td class="list-array">
                                            <button type="button" class="none-style-btn Regular-16-light"
                                                    id="select-occupation"
                                                    value="{{ occupation.occupationId }}"
                                                    onclick="showJobList(this)">
                                                {{ occupation.occupationName }}
                                            </button>
                                        </td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        {% else %}
                            <p class = "Bold-24">직군이 없습니다.</p>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            {# 직업 선택 필터 #}
            <div class = "search-content" id = "job-list-box">
                <p class = "Bold-24-none-weight" style = "padding : 50px">직군을 선택해주세요.</p>
            </div>
            {# 경력 선택 필터 #}
            <div class = "search-content-level" id = "level-list-box">
                 <table class="uk-table">
                    <tbody>
                       <tr>
                           <td class = "list-array"><button type = "button" class = "none-style-btn Regular-16-light" id = "select-level" onclick = "setLevel('신입')">신입</button></td>
                       </tr>
                        <tr>
                           <td class = "list-array"><button type = "button" class = "none-style-btn Regular-16-light" id = "select-level" onclick = "setLevel('경력')">경력</button></td>
                       </tr>
                        <tr>
                           <td class = "list-array"><button type = "button" class = "none-style-btn Regular-16-light" id = "select-level" onclick = "setLevel('무관')">무관</button></td>
                       </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class ="search-btn-box">
            <button class = "search-btn" id = "search-btn" onclick = "searchBtn(this)">검색</button>
        </div>
{#         ====================== 필터에 해당하는 내용 부분 끝 ================================ #}

{#         ======================= 최신, 인기순, 검색창 ============================= #}
        <div class="array-and-search">
            <div class="recent-or-popular">
                {% if request.args.get('sort') == "r" %}
                    <button type="button" class="none-style-btn Regular-16 select-array" onclick="setArray('최신순')">최신순</button>
                    <button type="button" class="none-style-btn Regular-16 selected select-array" onclick="setArray('인기순')">인기순</button>
                {% else %}
                <button type="button" class="none-style-btn Regular-16 selected select-array" onclick="setArray('최신순')">최신순</button>
                <button type="button" class="none-style-btn Regular-16 select-array" onclick="setArray('인기순')">인기순</button>
                {% endif %}
            </div>
            <div class="search-space" id="search-space">
                <img src="{{ url_for('static', filename='img/search_icon.svg') }}" width="20px" height="20px" />
                <input class="search-input Regular-16-light" id="search-input" type="text" placeholder="검색어 입력" style="margin-left: 5px"
                    {% if request.args.get('search') and request.args.get('search') != "" %}
                        value="{{ request.args.get('search') }}"
                    {% endif %}
                />
            </div>
        </div>

{#         ============================ 게시물 부분 ================================== #}
        <p class = "Bold-30-none-weight" style = "margin-top: 30px !important;">자기소개서 목록</p>
        {% for resume in response.resumes %} {# 백엔드에서 데이터를 줄 경우 resumes의 길이만큼 반복 #}
            <div class = "resume-list">
{#                게시물 왼쪽 부분#}
                <div>
                    <div class = "resume-title">
                        <span class = "title-category">{{ resume.occupationName }} |</span>
                        <span class = "title-category">{{ resume.jobName }} |</span>
                        <span class = "title-category">{{ resume.level }}</span>
                        <a href = "/resume/{{ resume.resumeId }}" class = "resume-link"><span class = Medium-20>{{ resume.title }}</span></a>
                    </div>
                    <div style = "margin-top: 10px;">
                        <img src="{{ resume.profilePath }}" class = "user-profile" />
                        <span class = "Regular-16" style = "margin-left : 5px">{{ resume.username }}</span>
                        <span class = "Regular-16-light" style = "margin-left : 5px">작성일 : {{ resume.createdTime }}</span>
                    </div>
                </div>
                <div class = "resume-list-Engagement">
                    <div style = "margin-right: 10px;">
                        <span uk-icon="icon: eye; ratio: 1.0;"></span>
                        <span class = "Regular-16-light">{{ resume.viewCount }}</span>
                    </div>
                    <div>
                        <span uk-icon="icon: heart; ratio: 1.0;"></span>
                        <span class = "Regular-16-light">{{ resume.likeCount }}</span>
                    </div>
                </div>
            </div>
            <hr>
        {% endfor %}
{#         ========================== 게시물 부분 끝 ================================= #}

        {# 페이지네이션 #}
       <nav aria-label="Pagination">
            <ul class="uk-pagination uk-flex-center" uk-margin>
                {# Previous 버튼 렌더링 조건 #}
                {% if startPage > 1 %}
                    <li>
                        <a href="/resume?page={{ startPage - 1 }}{% for param in [
                                ('occupation', request.args.get('occupation')),
                                ('job', request.args.get('job')),
                                ('level', request.args.get('level')),
                                ('sort', request.args.get('sort')),
                                ('search', request.args.get('search'))
                                ] if param[1] %}&{{ param[0] }}={{ param[1] }}{% endfor %}"
                                class="Regular-20-light">
                            <span class="Regular-20-light" uk-pagination-previous></span>
                        </a>
                    </li>
                {% endif %}

                {# 페이지 번호 생성 #}
                {% for pageNum in range(startPage, endPage + 1) %}
                    <li class="{% if pageNum == page %}uk-active{% endif %}">
                        {% if pageNum == page %}
                            <span class="Regular-20-light" aria-current="page">{{ pageNum }}</span>
                        {% else %}
                           <a href="/resume?page={{ pageNum }}{% for param in [
                                ('occupation', request.args.get('occupation')),
                                ('job', request.args.get('job')),
                                ('level', request.args.get('level')),
                                ('sort', request.args.get('sort')),
                                ('search', request.args.get('search'))
                                ] if param[1] %}&{{ param[0] }}={{ param[1] }}{% endfor %}"
                                class="Regular-20-light">{{ pageNum }}
                           </a>
                        {% endif %}
                    </li>
                {% endfor %}

                {# Next 버튼 렌더링 조건 #}
                {% if endPage < totalPages %}
                    <li>
                        <a href="/resume?page={{ endPage + 1 }}{% for param in [
                                ('occupation', request.args.get('occupation')),
                                ('job', request.args.get('job')),
                                ('level', request.args.get('level')),
                                ('sort', request.args.get('sort')),
                                ('search', request.args.get('search'))
                                ] if param[1] %}&{{ param[0] }}={{ param[1] }}{% endfor %}"
                                class="Regular-20-light">
                            <span class="Regular-20-light" uk-pagination-next></span>
                        </a>
                    </li>
                {% endif %}
            </ul>
       </nav>
    </div>
{% endblock %}