{% extends "index.html" %}

{% block styles  %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/text.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/resume_write.css') }}" />
{% endblock %}

{% block scripts %}
    <script>const iconAiPath = "{{url_for('static', filename = 'img/icon_ai.svg')}}";</script>
    <script>const iconRemovePath = "{{url_for('static', filename = 'img/remove.svg')}}";</script>
    <script src="{{ url_for('static', filename='js/resume_write.js') }}"></script>
    <script src="{{ url_for('static', filename='js/resume_api.js') }}"></script>
    {% if response.resume.sections is none or response.resume.sections | length == 0 %}
        <script>let sectionCount = 0;</script>
    {% else %}
        <script>let sectionCount = {{ response.resume.sections | length - 1 }};</script>
    {% endif %}
    <script>const sectionCount = 0;</script>

    {% if response.jobs is none or response.jobs | length == 0 %}
        <script>const getJob = true</script>
    {% endif %}

    <script>let badgeCounter = {{ keywords | length }};</script>
{% endblock %}

{% block content %}
    {% include 'components/header.html' %}
    <div class="container">
        <div class ="saved-resume-box">
             <ul uk-accordion>
                <li>
                    <a class="uk-accordion-title" href>임시저장 목록({{ response.drafts | length }}/10)</a>
                    <div class="uk-accordion-content">
                        <table class="uk-table saved-resume-content">
                            <tbody>
                                {% if resumes %}
                                    <tr>
                                        <td class = "Medium-16">번호</td>
                                        <td class = "Medium-16">제목</td>
                                        <td class = "Medium-16">저장일시</td>
                                        <td class = "Medium-16">삭제</td>
                                    </tr>
                                    {% for draft in response.drafts %}
                                        <tr id="resume-{{ draft.draftId }}">
                                            <td class = "Medium-16">{{ loop.index }}</td>
                                            <td class = "Medium-16"><button class="custom-button Medium-16" onclick="loadResumeData('{{ draft.draftId }}')">{{ draft.title }}</button></td>
                                            <td class = "Medium-16">{{ draft.createdTime }}</td>
                                            <td><button type="button" class = "custom-button" onclick="removeResumeData('{{ draft.draftId }}')"><img src="{{ url_for('static', filename='img/remove.svg') }}"/></button></td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <p class = "Bold-24">임시저장 된 목록이 없습니다.</p>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </li>
            </ul>
        </div>

        <div class = "resume-write-box">
            <p class = "Medium-22">자기소개서 작성</p>
            <form class="uk-form-stacked" id="resume_write_form" method="POST" action="/resume/write">
                {# 제목 #}
                <div class="uk-margin">
                    <label class="uk-form-label" for="resume-write-main-title">제목</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="resume-write-main-title" type="text" name="title" placeholder="제목을 입력해주세요.">
                    </div>
                </div>

                 {# 직군 #}
                <div class="uk-margin">
                    <label class="uk-form-label" for="resume-write-occupation">직군</label>
                    <div class="uk-form-controls">
                        <select class="uk-select" id="resume-write-occupation" name="occupation_id" onchange = "updateJobList()">
                             {% for occupation in response.occupations %}
                                <option {% if occupation.isSelected %} selected {% endif %} value = "{{ occupation.occupationId }}">
                                    {{ occupation.occupationName }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                {# 직업 #}
                <div class="uk-margin">
                    <label class="uk-form-label" for="resume-write-job">직업</label>
                    <div class="uk-form-controls">
                        <select class="uk-select" id="resume-write-job" name = "job_id">
                            {% if response.jobs %}
                                {% for job in response.jobs %}
                                    <option value="{{ job.jobId }}" {% if job.isSelected %} selected {% endif %}>
                                        {{ job.jobName }}
                                    </option>
                                {% endfor %}
                            {% else %}
                                <option disabled selected>직군을 선택해주세요.</option>
                            {% endif %}
                        </select>
                    </div>
                </div>

                 {# 경력 #}
                <div class="uk-margin">
                    <label class="uk-form-label" for="resume-write-experience">경력 여부</label>
                    <div class="uk-form-controls">
                        <select class="uk-select" id="resume-write-experience" name = "level">
                            <option value="신입" {% if response.resume and response.resume.level == '신입' %} selected {% endif %}>신입</option>
                            <option value="경력" {% if response.resume and response.resume.level == '경력' %} selected {% endif %}>경력</option>
                        </select>
                    </div>
                </div>

                {# 장점 #}
                <div class="uk-margin">
                    <label class="uk-form-label" for="resume-write-merit">장점</label>
                    <div class="uk-form-controls">
                        <textarea class="uk-textarea custom-textarea" id="resume-write-merit" name="pros" placeholder="장점을 입력해주세요." style="resize: none; overflow-y: hidden;" oninput="adjustHeight(this)">{{ response.resume.pros if response.resume }}</textarea>
                    </div>
                </div>

                {# 단점 #}
                <div class="uk-margin">
                    <label class="uk-form-label" for="resume-write-disadvantage">단점</label>
                    <div class="uk-form-controls">
                        <textarea class="uk-textarea custom-textarea" id="resume-write-disadvantage" name="cons" placeholder="단점을 입력해주세요." style="resize: none; overflow-y: hidden;" oninput="adjustHeight(this)">{{ response.resume.cons if response.resume }}</textarea>
                    </div>
                </div>

                {# 주요 키워드 #}
                <div class="uk-margin">
                    <label class="uk-form-label" for="resume-write-keyword">주요 키워드</label>
                    <div class="keyword-input-box">
                        <div class = "badge-container">
                            {% if response.resume %}
                                {% for keyword in response.resume.keywords %}
                                    <div class = "badge">
                                        <span class = "badge-text" id = "badge-text-{{ loop.index0 }}">{{ keyword }}</span>
                                        <button class = "badge-button" id = "badge-btn-{{ loop.index0 }}">X</button>
                                        <input type = "hidden" id = "badge-input-{{ loop.index0 }}" name = "keywords[]" value="{{ keyword }}" />
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <input class="keyword-input Regular-16" id="resume-write-keyword" type="text">
                        </div>
                    </div>
                </div>


                {# 방향성 #}
                <div class="uk-margin">
                    <label class="uk-form-label" for="resume-write-directionality">방향성(선택 사항)</label>
                    <div class="uk-form-controls">
                        <textarea class="uk-textarea custom-textarea" id="resume-write-directionality" placeholder="AI가 참고할 방향성에 대해 적어주세요." name = "directional" style="resize: none; overflow-y: hidden;" oninput="adjustHeight(this)">{{ response.resume.directional }}</textarea>
                    </div>
                </div>
                {% if response.resume %}
                    {% for resumeList in response.resume.sections %}
                        <div class = "resume-container" id = "resume-write-container-{{ loop.index0 }}">
                            {# 항목 #}
                            <div class="uk-margin">
                                <div class = "resume-write-header">
                                    <label class="uk-form-label" for="resume-write-title-{{ loop.index0 }}">항목{{ loop.index0 + 1 }}</label>
                                    <div class = "resume-write-header-right">
                                        <button type="button" uk-tooltip="AI 작성하기" class ="custom-button" id="ai-resume-write-{{ loop.index0 }}" onclick="aiResumeWrite({{ loop.index0 }})"><img src="{{ url_for('static', filename='img/icon_ai.svg') }}"/></button>
                                        {% if loop.index0 != 0 %}
                                            <button type="button" uk-tooltip="삭제" class="custom-button delete-section-btn" onclick="deleteSection({{ loop.index0 }})"><img src="{{ url_for('static', filename='img/remove.svg') }}"/></button>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="uk-form-controls">
                                    <input class="uk-input" id="resume-write-title-{{ loop.index0 }}" name="sections[][title]" value = "{{ resumeList.title }}" type="text" placeholder="제목을 입력해주세요.">
                                </div>
                            </div>
                            {# 내용 #}
                            <div class="uk-margin">
                                <div class="uk-form-controls">
                                    <textarea class="uk-textarea resume-content" id="resume-write-content-{{ loop.index0 }}" name="sections[][content]" placeholder="내용을 입력해주세요."  style="resize: none; overflow-y: hidden;" oninput="adjustHeight(this)">{{ resumeList.content }}</textarea>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class = "resume-container" id = "resume-write-container-0">
                        {# 항목 #}
                        <div class="uk-margin">
                            <div class = "resume-write-header">
                                <label class="uk-form-label" for="resume-write-title-0">항목1</label>
                                <button type="button" uk-tooltip="AI 작성하기" class ="Regular-16-light custom-button" id="ai-resume-write-0" onclick="aiResumeWrite(0)"><img src="{{ url_for('static', filename='img/icon_ai.svg') }}"/></button>
                            </div>
                            <div class="uk-form-controls">
                                <input class="uk-input" id="resume-write-title-0" name="sections[][title]" type="text" placeholder="제목을 입력해주세요.">
                            </div>
                        </div>
                        {# 내용 #}
                        <div class="uk-margin">
                            <div class="uk-form-controls">
                                <textarea class="uk-textarea resume-content" id="resume-write-content-0" name="sections[][content]" placeholder="내용을 입력해주세요."  style="resize: none; overflow-y: hidden;" oninput="adjustHeight(this)"></textarea>
                            </div>
                        </div>
                    </div>
                {% endif %}



                <div class = "right-box">
                    <button type="button" class = "Regular-16-light custom-button add-section-btn" id = "add-section-btn" onclick="addSection()">+섹션 추가하기</button>
                </div>

                <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid public-check-box">
                    <label class="Regular-16 public-radio"><input class="uk-radio" type="radio" value = "true" name="is_shared">공개</label>
                    <label class = "Regular-16"><input class="uk-radio" type="radio" value = "false" name="is_shared" checked>비공개</label>
                </div>

                <div class = "resume-submit-box">
                    <button class = "tmp-save-btn Medium-18" id = "resume-write-tmp-submit" type = "submit">임시저장</button>
                    <button class = "save-btn Medium-18" id = "resume-write-submit" type="submit" onclick = "submitResume()">저장</button>
                </div>
            </form>
        </div>
    </div>
    {% if get_flashed_messages() %}
        <script>
            {% for message in get_flashed_messages() %}
                alert("{{ message }}");
            {% endfor %}
        </script>
    {% endif %}
{% endblock %}