{% extends "index.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/text.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/resume_detail.css') }}" />
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/resume_detail.js') }}"></script>
    {% if response.isLike is none or response.isLike == 0 %}
        <script>let isLike = false;</script>
    {% else %}
        <script>let isLike = true;</script>
    {% endif %}
    <script>let likeCount = {{ response.likeCount | tojson }};</script>
{% endblock %}

{% block content %}
    {% include 'components/header.html' %}
    <div class = "container">
{#        ============================= 자기소개서 상세보기 제목 ============================#}
        <div class = resume-detail-header-wrapper>
            <div class = "resume-detail-title">
                <span class = "title-category">{{ response.occupationName }} |</span>
                <span class = "title-category">{{ response.jobName }} |</span>
                <span class = "title-category">{{ response.level }}</span>
            </div>
            <div class = "resume-detail-title-and-edit">
                <p class = "Bold-24-none-weight" style = "margin : 0 !important;">{{ response.title }}</p>
                {% if response.isMine %}
                    <div class="uk-inline">
                        <button class="uk-button uk-button-default" type="button"></button>
                        <div uk-dropdown="mode: click; pos: bottom-center;">
                            <a class = "Regular-16-light" href="/resume/{{ response.resumeId }}/update">수정하기</a>
                            <button class = "remove-btn Regular-16-light" onclick = "removeResumeDetail({{ response.resumeId }})">삭제하기</button>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div>
                <img src="{{ response.user.profilePath }}" class = "user-profile" />
                <span class = "Regular-16" style = "margin-left : 5px">{{ response.user.username }}</span>
                <span class = "Regular-16-light" style = "margin-left : 5px">작성일 : {{ response.createdTime }}</span>
            </div>
        </div>
{#        ============================ 자기소개서 내용 ==========================#}
        <div class = "resume-detail-content-wrapper">
            {% for section in response.section %}
                <div class = "resume-detail-content">
                    <p class = "Bold-20-none-weight">{{ section.title }}</p>
                    <p class = "Regular-18">{{ section.content }}</p>
                </div>
            {% endfor %}
{#             조회수 및 좋아요#}
             <div class = "resume-detail-Engagement">
{#                 조회수#}
                <div style = "margin-right: 10px;">
                    <span uk-icon="icon: eye; ratio: 1.4;"></span>
                    <span class = "Regular-20-light">{{ response.viewCount + 1 }}</span>
                </div>
{#                 좋아요#}
                <div style = "display : flex; align-items: center; padding-bottom: 2px;">
                    {% if response.isLike %}
                        <button id="like-button" class="like-btn liked" onclick="actionLike({{ response.resumeId }})"></button>
                    {% else %}
                        <button id="like-button" class="like-btn" onclick="actionLike({{ response.resumeId }})"></button>
                    {% endif %}
                    <span id="like-count" class="Regular-20-light" style = "padding-bottom: 2px; margin-left: 2px; font-size : 22px !important;">{{ response.likeCount }}</span>
                </div>
            </div>
        </div>
        <hr>
{#         ========================== 자기소개서 목록 ============================#}
         <p class = "Bold-30-none-weight" style = "margin-top: 30px !important;">자기소개서 목록</p>
        <div id="resume-list-container"></div>
        {# 페이지네이션 #}
       <nav aria-label="Pagination">
            <ul class="uk-pagination uk-flex-center" uk-margin></ul>
        </nav>
    </div>
{% endblock %}
