header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.30);
}

.header-wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.header-nav {
    background-color: inherit !important;
}

.header-nav a {
    font-size: 1rem !important;
}

.uk-navbar-dropdown-nav a {
    font-size: 0.875rem !important;
}

.logo {
    margin-right: 60px;
}

.main-menu .uk-drop {
    top: initial !important;
}

.uk-modal-container .uk-modal-dialog {
    width: 100px !important;
    min-width : 380px !important;
    min-height: 450px !important;
    border-radius: 8px;
    padding : 0;
    align-items: center;
    display: flex;
}

.user-profile {
    width : 45px;
    height : 45px;
    border-radius: 70%;
}


