.uk-center {
    display: grid;
    justify-content: center;
}

.container {
    min-width: 36.25rem;
}

.uk-article {
    padding-top: 20px;
}
.uk-article-title {
    font-size: 24px;
}

.uk-article-meta {
    font-size: 16px;
}

.uk-form-label {
    font-size: 18px;
}

.uk-input {
    color: rgba(0, 0, 0, 0.50);
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border : 1px solid #96C0FF;
    border-radius: 8px;
}

.uk-select {
    width: 250px;
    border: 1px solid #96C0FF;
    border-radius: 8px;
}

.uk-card {
    height: 40px;
    border: 1px solid transparent;
    font-size: 16px;
    margin-top: 5px;
}

.uk-textarea {
    font-size: 16px;
    border: 1px solid #96C0FF;
    border-radius: 8px;
}

.uk-button-small {
    border: 1px solid transparent;
    color: #666;
}

.add-right-btn-box {
    display : flex;
    justify-content: flex-end;
}

.add-btn {
    border : none;
    background: none;
    cursor : pointer;
    color: rgba(0, 0, 0, 0.50);
    font-family: "Noto Sans KR";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.project {
    margin : 30px 0;
}

.uk-margin {
    margin-bottom : 0 !important;
}

.uk-button {
    border-radius: 8px !important;
}

.date-input {
    width : 300px;
}