.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;

    .card-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 60px;
        justify-items: center;
        box-sizing: border-box;
    }
}

