.Regular-16 {
    color: #222;
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Regular-16-light {
    color: rgba(0, 0, 0, 0.50);
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Regular-18 {
    color: #222;
    font-family: "Noto Sans KR";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Regular-18-light {
    color: rgba(0, 0, 0, 0.50);
    font-family: "Noto Sans KR";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Regular-16-Medium {
    color: rgba(0, 0, 0, 0.70);
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Regular-20 {
    color: #222;
    font-family: "Noto Sans KR";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Regular-20-light {
    color: rgba(0, 0, 0, 0.50);
    font-family: "Noto Sans KR";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Medium-16 {
    color: #222;
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.Medium-16-Medium {
    color: rgba(0, 0, 0, 0.70);
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.Medium-18 {
    color: #000;
    font-family: "Noto Sans KR";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.Medium-18-light {
    color: rgba(0, 0, 0, 0.50);
    font-family: "Noto Sans KR";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.Medium-20 {
    color: #222;
    font-family: "Noto Sans KR";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: none;
}

.Medium-20-light {
    color: rgba(0, 0, 0, 0.50);
    font-family: "Noto Sans KR";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: none;
}

.Medium-22 {
    color: #000;
    font-family: "Noto Sans KR";
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.Medium-24-light {
    color: rgba(0, 0, 0, 0.50);
    font-family: "Noto Sans KR";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: none;
}

.Medium-28 {
    color: #000;
    font-family: "Noto Sans KR";
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.Medium-28-light {
    color: rgba(0, 0, 0, 0.50);
    font-family: "Noto Sans KR";
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.Bold-20 {
    color: #000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-family: "Noto Sans KR";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Bold-20-none-weight {
    color: #000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-family: "Noto Sans KR";
    font-size: 20px;
    font-style: normal;
    line-height: normal;
}


.Bold-24 {
    color: #000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-family: "Noto Sans KR";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Bold-24-none-weight {
    color: #000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-family: "Noto Sans KR";
    font-size: 24px;
    font-style: normal;
    line-height: normal;
}

.Bold-30 {
    color: #000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-family: "Noto Sans KR";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Bold-30-none-weight {
    color: #000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-family: "Noto Sans KR";
    font-size: 30px;
    font-style: normal;
    line-height: normal;
}

.Bold-36 {
    color: #000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-family: "Noto Sans KR";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.title-category {
    color : #2B7FFF;
    font-size : 13px;
    -webkit-text-stroke-width: 0.2px;
    font-style: normal;
    font-weight : 300;
}


.badge-text {
    color: #fff;
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left : 10px;
}

.resume-write-box-header {
    color: #000;
    font-family: "Noto Sans KR";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.highlight {
    color : #E72B2B;
}

