{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}" />
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/footer.js') }}"></script>
{% endblock %}

<footer>
    <div class="uk-container">
        <nav class="uk-navbar-container footer-nav" uk-navbar>
            <div class="uk-navbar-left">
                <a href="/static" class="uk-navbar-item uk-logo logo">
                <img src="{{ url_for('static', filename='img/footer_logo.svg') }}" />
                </a>
            </div>

            <div class="uk-text-center">
                <p>서일대학교 3C_웹프로젝트 7조: 윤성빈, 김민우, 김승응, 문건규, 최영원, 한정석</p>
                <p>이메일: <a href="mailto:wdjtrkr8888@gmail.com">wdjtrkr8888@gmail.com</a>, TEL: 010-5498-9311</p>
                <p>&copy; 2024 PerfectFit. All rights reserved.</p>
            </div>
        </nav>
    </div>
</footer>


