{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/interview_title.css') }}" />
{% endblock %}

<div class="top-box">
    <div class="title-box">
        <div class="line"></div>
        <div>
            <h1 class="title">Ai 모의면접 게시물</h1>
            <p class="description">해당 게시물로 효과적으로 면접을 준비할 수 있습니다</p>
        </div>
    </div>
    <div class="total-box">
        <div class="title-background">총 제공건 수</div>
        <div class="top-less"><span class="total">{{ total }}</span>개</div>
    </div>
</div>